<div class="menu-title">
    <h1 class="font-18 font-700">Page Language</h1>
    <p class="color-highlight">
        This is just a sample picker.
    </p>
    <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
</div>
<div class="content bottom-0">
    <div class="link-list link-list-1 link-list-long-border bottom-0">
        <a href="#"><img src="images/flags/United-States.png"><span>English</span><i class="fa fa-angle-right"></i></a>
        <a href="#"><img src="images/flags/India.png"><span>Indian</span><i class="fa fa-angle-right"></i></a>
        <a href="#"><img src="images/flags/Germany.png"><span>German</span><i class="fa fa-angle-right"></i></a>
        <a href="#"><img src="images/flags/Italy.png"><span>Italian</span><i class="fa fa-angle-right"></i></a>
        <a href="#"><img src="images/flags/United-States.png"><span>English</span><i class="fa fa-angle-right"></i></a>
        <a href="#"><img src="images/flags/India.png"><span>Indian</span><i class="fa fa-angle-right"></i></a>
        <a href="#"><img src="images/flags/Germany.png"><span>German</span><i class="fa fa-angle-right"></i></a>
        <a href="#"><img src="images/flags/Italy.png"><span>Italian</span><i class="fa fa-angle-right"></i></a>
        <a href="#" class="no-border"><img src="images/flags/Spain.png"><span>Spanish</span><i class="fa fa-angle-right"></i></a>
    </div>
    <div class="clear"></div>
</div>
